<div class="jumbotron">
  <h2>Página dos Heróis</h2>
  <h3>Explore as Histórias de cada herói e conheça mais sobre o jogo.<br>
    Deixe aqui seus comentários a respeito de cada Herói e suas Builds em jogos</h3>
</div>

<div class="form-group ">
  <%= form_tag(heros_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Buscar Herói", class: 'form-control' %>
  <% end %>
</div>

<table class="table table-hover table-condensed">
  <thead>
      <tr>
      <th>Nome</th>
      <th>Atributo Primário</th>
      <th>Força Básica</th>
      <th>Inteligencia Básica</th>
      <th>Agilidade Básica</th>
      <% if user_signed_in? && current_user.admin? %>
      <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @heros.each do |hero| %>
      <tr>
        <td><%= link_to hero.name, hero %></td>
        <td><%= hero.main_att %></td>
        <td><%= hero.str_base %></td>
        <td><%= hero.int_base %></td>
        <td><%= hero.agi_base %></td>
        <% if user_signed_in? && current_user.admin? %>
        <td><%= link_to 'Editar', edit_hero_path(hero), class: "btn btn-link" %></td>
        <td><%= link_to 'Destruir', hero, method: :delete, data: { confirm: 'Tem Certeza?' }, class: "btn btn-link" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? && current_user.admin? %>
<%= link_to 'Novo Herói', new_hero_path, class: "btn btn-link" %>
<%end%>

<br>
